{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="d-flex mb-4">
    <img src="{% static 'images/WAD2023.jpg' %}"
         class="bg-img-about"
         alt="img" />
  </div>
  <div class="container mt-4 mb-4">
    <h1 class="display-4 fw-bolder mb-4 text-center animate__animated animate__bounce">Our history</h1>
    <p>
      ZACH is a Not-for-Profit Faith-Based Organization (FBO), founded in 1973 and registered under the Revised Private
      Voluntary Organization (PVO) Act of 2001 in 1974. ZACH is the Medical Arm of all Christian Churches in Zimbabwe.
      ZACH operations are conducted on strict ecumenism. The association is accountable to the Zimbabwe Heads of Christian
      Denominations (ZHOCD) regarding the running of church health institutions (mission Hospitals and Clinics). ZACH through
      mission health facilities provides 68% of health care delivery in rural Zimbabwe and approximately 45% nationally, based on bed capacity.
      ZACH represents the link between the Zimbabwe Head of Christian Denominations (ZHOCD) , the Ministry of Health and
      Child Cares (MOHCC), other health providers and agencies.
    </p>
    <p>
      ZACH Membership currently stands at over 135 hospitals and clinics — comprising 78 hospitals, 22 designated district
      hospitals with nurse training schools, and 35 rural clinics — which are in all the 10 Provinces and 63 districts of the
      country and are within easy reach by communities. The Zimbabwe Heads of Christian Denominations (ZHOCD) are the owners of
      Church Hospitals and Clinics in Zimbabwe. The ZHOCD has four secretariats, namely – Zimbabwe Catholics Bishop Conference (ZCBC),
      The Zimbabwe Council of Churches (ZCC), The Evangelical Fellowship of Zimbabwe (EFZ) and the Union for the Development of
      Apostolic Churches in Zimbabwe and Africa (UDACIZA). Within the Churches, there are Health Desks and Coordinators who are a link
      between ZACH and Mission hospitals on administrative issues.
    </p>
    <p>
      The Council is representative of 135 hospitals and clinics which form the Annual General Meetings (AGM) who are member institutions
      (Hospitals and Clinics), these have voting powers to nominate members of the ZACH Management Board and the Board of Trustees for
      the ZACH Pension fund. The pension fund Chairperson is appointed by the Zimbabwe Heads of Christian Denominations.
      ZACH is the Medical Arm of Churches in Zimbabwe, with the Executive Director as the Head supported by the ZACH Executive Members
      for the day-to-day operations of the organization.  The ZACH Executive Director is appointed by the ZACH Management Board and the
      rest of the staff by the Executive Director with approval of the ZACH Management Board. Management of Mission Hospitals and Clinics
      is by owner churches through their governance structures. ZACH is a membership organization of Hospitals and clinics owned and run
      by those Churches. ZACH facilitates the smooth running of all hospitals and clinics through policy guidance, advocacy, and resource
      mobilization.
    </p>
  </div>
  <div class="container">
    <h1 class="display-4 fw-bolder mb-4 text-center animate__animated animate__bounce">
      Structure, Governance & Membership
    </h1>
    <div class="row mt-4">
      <div class="col-md">
        <div class="card">
          <iframe class="card-player"
                  src="https://www.youtube-nocookie.com/embed/H4Zd-aWs-zU?si=NVZ8gV0sp4yazAjE&amp;start=16"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md">
        <p>
          <b>ZACH is ecumenical</b>  — it unites different Christian denominations. It is accountable to the Zimbabwe
          Heads of Christian Denominations (ZHOCD). These church leaders are effectively owners of the mission hospitals/clinics.
        </p>
        <h5 class="fw-bold">ZHOCD is structured into four key secretariats:</h5>
        <ul>
          <li>Zimbabwe Catholic Bishops Conference (ZCBC)</li>
          <li>Zimbabwe Council of Churches (ZCC)</li>
          <li>Evangelical Fellowship of Zimbabwe (EFZ)</li>
          <li>Union for Development of Apostolic Churches (UDACIZA)</li>
        </ul>
        <p>
          ZACH has a Management Board and a Board of Trustees (for its pension fund). The Executive Director,
          appointed by the board, leads the secretariat. <b>Dr Nonhlanhla Zwangobani</b> currently serves as
          Executive Director, succeeding <b>Mrs. Vuyelwa “Vee” Chitimbire</b>, who led ZACH for 25 years.
        </p>
      </div>
    </div>
  </div>
  <div class="container  mb-4">
    <h1 class="display-4 mt-4 fw-bolder mb-4 text-center animate__animated animate__bounce">Roles & Functions</h1>
    <div class="row">
      <div class="col-md align-items-center">
        <p>ZACH’s role spans a lot of ground: policy, support, advocacy, operations.</p>
        <ul>
          <li>
            <b>Linking Role:</b> Acts as a bridge between churches (via ZHOCD), the Zimbabwe Ministry of Health & Child Care (MOHCC), and other health partners/agencies
          </li>
          <li>
            <b>Resource Mobilization:</b> Helps member hospitals/clinics access resources — staff, medicines, funding.
          </li>
          <li>
            <b>Capacity Building:</b> Organizes training for health workers; builds institutional capacity; supports governance
          </li>
          <li>
            <b>Monitoring & Evaluation (M&E):</b> Provides strategic information, M&E support, and helps institutions report on their performance
          </li>
          <li>
            <b>Advocacy & Policy:</b> Advocates for mission health facilities, particularly in budget negotiations, infrastructure, and equitable treatment from government
          </li>
          <li>
            <b>Health Service Support:</b> Assists in running programs — not just administrative but also medical service delivery.
          </li>
        </ul>
      </div>
      <div class="col-md">
        <div class="card">
          <img src="{% static 'images/IMG_9737.JPG' %}"
               class="card-img-top"
               alt="..." />
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
